/* panther gold is #FFBD00, complementary cream is #FEF2DA, black is #000000 */
/* orange is #F79651 */
/* Roboto is the only UWM brand font that free for commercial use so use it */

body {
    background: #FEF2DA;
    /*#CFA219 is gold ish color*/
    /* cur is #FFE259 */
    /* or #FFF269 */
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.page-bar {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 10px solid #000000;
    background: #FFBD00;
}

.user-pages {
    display: flex;
    margin-left: 20px;
}

button {
    width: 80px;
    height: 60px;
    margin: 0 5px;
    border: 4px solid black;
    border-radius: 4px;
    background: #FEF2DA;
    font-size: 12px;
    font-weight: 900;
}

/* we want the button to darken when we hover over it*/
button:hover{
    background: #F79651;
}

.active {
    background: #F79651;
}

.login-button {
    margin-right: 20px;
}

/* this line is the cutoff for all of the page-bar stuff*/
h1 {
    text-align: center;
    margin: 25px 0;
    color: #2b2839;
}

.club img{
    display: block;
    width: 20%;
    margin: 25px auto;
    filter: drop-shadow(0 0 1px black); /* this is to apply a shadow to our transparent background image */
}

.logo img {
    display: block;
    width: 30%;
    margin: 25px auto;
    filter: drop-shadow(0 0 1px black); /* this is to apply a shadow to our transparent background image */
}

.self-photo img {
    display: block;
    width: 20%;
    margin: 25px auto;
    filter: drop-shadow(0 0 1px black); /* this is to apply a shadow to our transparent background image */
}

.about-text {
    text-indent: 50px;
    margin: 50px 200px;
    color: #2b2839;
}

.connect {
    font-family: "Merriweather", serif;
    text-align: center;
    font-size: 11px;
    position: absolute;
    bottom: 20px; /* this positions the text 20 pixels from the bottom of the screen because we have position: absolute*/
    left: 0; /* this and the next 2 lines are used to center align the text with position: absolute */
    right: 0;
    margin: 0 auto;
    color: #2b2839;
}