/* panther gold is #FFBD00, complementary cream is #FEF2DA, black is #000000 */
/* orange is #F79651 */
/* Roboto is the only UWM brand font that free for commercial use so use it */

body {
    background: #FEF2DA;
    /*#CFA219 is gold ish color*/
    /* cur is #FFE259 */
    /* or #FFF269 */
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.page-bar {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 10px solid #000000;
    background: #FFBD00;
}

.user-pages {
    display: flex;
    margin-left: 20px;
}

button {
    width: 80px;
    height: 60px;
    margin: 0 5px;
    border: 4px solid black;
    border-radius: 4px;
    background: #FEF2DA;
    font-size: 12px;
    font-weight: 900;
}

/* we want the button to darken when we hover over it*/
button:hover{
    background: #F79651;
}

.active {
    background: #F79651;
}

.login-button {
    margin-right: 20px;
}

/* this line is the cutoff for all of the page-bar stuff*/

/* you can't use a container for image sizing in css */
.logo img {
    display: block;
    width: 40%;
    margin: 50px auto;
    filter: drop-shadow(0 0 1px #000000); /* this is to apply a shadow to our transparent background image */
}