<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About The Club | UWM Smash Club Website</title>
    <link rel="stylesheet" href=/static/stylesheets/about.css?v=1>

    {# font stuff #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="page-bar">
        <div class="user-pages">
            <!-- the href for each button is the path -->
            <a href="/"><button>Home</button></a>
            <button class="active">About The Club</button>
            <a href="about-this-website"><button>About This Website</button></a>
            <a href="about-me"><button>About Me</button></a>
        </div>
        <div class="login-button">
            <a href="login"><button>Login</button></a>
        </div>
    </div>
    <div class="about-page">
        <h1>About The Club</h1>
        <div class="club">
            <img src="/static/images/Club-Picture.png">
        </div>
        <p class="about-text">As the name would imply this club is a gathering of Super Smash Bros. Ultimate players with
            a large emphasis on the competitive aspect of the game. Our club meets every Friday with
            doors opening and closing between 2:00-10:00 PM while the semester is in session except for
            special occasions like breaks or finals week. During every meeting we hold a free-to-enter tournament
            which is scheduled to start at 4:30 PM and consists of a round-robin pools stage (everyone
            plays everyone in their pool) followed by a double elimination bracket which uses the pools
            to determine how the bracket is seeded. The idea of this format is so that everyone gets a chance
            to play a good amount of matches regardless of skill level. This club operates under the assumption
            of BYOC (Bring Your Own Controller) so if possible bring a controller that can be
            used on the Nintendo Switch. It is also much appreciated if people can bring their own
            Nintendo Switch setups to help the tournament run faster as well as have more available setups
            for games, but this is not required. Lastly, while this club is primarily meant for students, our
            tournaments are free to enter for anyone who shows up regardless of if you are a student or not.
            With all of that being said I hope you have a better understanding of what our club is and enjoy
            looking through the rest of the website.</p>
        <p class="connect">If you have any questions or are looking for more information about our club connect 
            with us via our <a href="https://discord.gg/NQHgTx3q">club discord server</a>. Here we will 
            post scheduling information about our weekly club meetings as well as potentially other Smash Bros. 
            related collegiate events.</p>
    </div>
            
</body>
</html>