<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me | UWM Smash Club Website</title>
    <link rel="stylesheet" href=/static/stylesheets/about.css?v=3>

    {# font stuff #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">y=swap" rel="stylesheet">
</head>
<body>
    <div class="page-bar">
        <div class="user-pages">
            <!-- the href for each button is the path -->
            <a href="/"><button>Home</button></a>
            <a href="about-the-club"><button >About The Club</button></a>
            <a href="about-this-website"><button>About This Website</button></a>
            <button class="active">About Me</button>
        </div>
        <div class="login-button">
            <a href="login"><button>Login</button></a>
        </div>
    </div>
    <div class="about-page">
        <h1>About Me</h1>
        <div class="self-photo">
            <img src="/static/images/Self-Photo.png" alt="UWM Smash Club Logo">
        </div>
        <p class="about-text">Hello, my name is Sam, better known in the Wisconsin Smash Scene as TheDood22. 
            I am currently a Computer Science student at UWM and have been a member of this club ever 
            since my first semester at UWM in 2022. I have been playing Smash at least 
            semi-competitively since late 2018 and have been studying Computer Science ever since my 
            Junior year of high school with the goal of being able to transition into the professional 
            world for my field. My main goal with this website is to take two hobbies of mine, 
            Software Development and Super Smash Bros., and combine them into something I can be proud 
            of with this website. Outside of just this website I also want our club and community to 
            grow more because through this club I was able to make a lot of friends at school through 
            our shared hobby of playing Smash and hope I can help others do the same by showing them 
            how much this club has come to mean to us members. With that being said I hope that this 
            website fulfills my vision of it and that it fascinates you enough to join our community, 
            or at the very least enjoy looking through it.</p>
        <p class="connect">If you have any questions or are looking for more information about our club connect 
            with us via our <a href="https://discord.gg/NQHgTx3q">club discord server</a>. Here we will 
            post scheduling information about our weekly club meetings as well as potentially other Smash Bros. 
            related collegiate events.</p>
    </div>
</body>
</html>