<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About This Website | UWM Smash Club Website</title>
    <link rel="stylesheet" href=/static/stylesheets/about.css?v=2>

    {# font stuff #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="page-bar">
        <div class="user-pages">
            <!-- the href for each button is the path -->
            <a href="/"><button>Home</button></a>
            <a href="about-the-club"><button >About The Club</button></a>
            <button class="active">About This Website</button>
            <a href="about-me"><button>About Me</button></a>
        </div>
        <div class="login-button">
            <a href="login"><button>Login</button></a>
        </div>
    </div>
    <div class="about-page">
        <h1>About This Website</h1>
        <div class="logo">
            <img src="/static/images/UWM_Smash_Club_Logo.png" alt="UWM Smash Club Logo">
        </div>
        <p class="about-text">As mentioned in the about me section this website is a personal project made from my
            passion for both Smash Bros. and Software development. The vision of this website
            is to serve as an all in one hub for information regarding our club including things
            like our club schedule, club player power rankings, a tournament bracket archive,
            ways to get in touch with us, and more general information about our club. My overall
            goal with this website is to help our club grow bigger and stronger into the future
            with new students coming in as well as to improve my skills as a Software Developer.
            Aside from my goals, this website will also serve the purpose of scratching the itch
            that many stats fanatics (like myself) have of wanting to see the stats of things they
            enjoy like Smash. With all said and done I hope you enjoy what you see looking through
            this website and feel inclined to join our community.</p>
        <p class="connect">If you have any questions or are looking for more information about our club connect 
            with us via our <a href="https://discord.gg/NQHgTx3q">club discord server</a>. Here we will 
            post scheduling information about our weekly club meetings as well as potentially other Smash Bros. 
            related collegiate events.</p>
    </div>
</body>
</html>