<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | UWM Smash Club Website</title>
    <!-- ?v=1 is required at the end for the style sheet to work for some reason -->
    <link rel="stylesheet" href=/static/stylesheets/home.css?v=1>

    {# font stuff #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="page-bar">
        <div class="user-pages">
            <!-- the href for each button is the path -->
            <button class="active">Home</button>
            <a href="bracket-archive"><button>Bracket Archive</button></a>
            <a href="power-rankings"><button>Power Rankings</button></a>
            <a href="player-stats"><button>Player Stats</button></a>
            <a href="seeding-tool"><button>Seeding Tool</button></a>
            <a href="about-the-club"><button>About</button></a>
        </div>
        <div class="login-button">
            <a href="login"><button>Login</button></a>
        </div>
    </div>
    <div class="logo">
        <img src="/static/images/UWM_Smash_Club_Logo.png" alt="UWM Smash Club Logo">
    </div>
    {# data for the time until the next bracket #}
    <div>
        {# this is where our time will display #}
        <span id="time_left"></span>
        <script>
            //this is so that our element appears in the span
            const span = document.getElementById('time_left');
            var day = {{ days_left }};
            console.log("Days left:", day);
            var curTime = new Date(2025, 8, 30, 16, 29, 50);

            function getTimeLeft(){
                //testing stuff
                curTime = new Date(curTime.valueOf() + 1000);
                console.log(curTime);

                //get the hours digit
                var hour;
                if(curTime.getHours() <= 16){
                    hour = 16 - curTime.getHours();
                }
                else {
                    hour = 40 - curTime.getHours();
                }

                //check to see if minutes is at 30, if it is then subtract 1 from hour
                if(curTime.getMinutes() > 29) {
                    hour -= 1

                    //if it is 4 pm and after 30 minutes prevent the value from displaying as a negative
                    if(hour === -1) { hour += 24 }
                }

                //get the minutes digit
                var minute;
                if(curTime.getMinutes() <= 29) {
                    minute = 29 - curTime.getMinutes();
                } else {
                    minute = 89 - curTime.getMinutes();
                }



                //get the seconds digit
                var second;
                if (curTime.getSeconds() === 0) {
                    second = curTime.getSeconds();
                } else {
                    second = 60 - curTime.getSeconds();
                }

                //make sure the minute doesn't roll over until seconds is past 00
                if(second === 0)
                {
                    //make sure the clock doesn't display 60 minutes
                    minute += 1;
                    if(minute === 60) { minute = 0 }

                    //make sure that the hour doesn't roll over when minutes and seconds are 00
                    if(minute === 0){
                        hour += 1;
                        if (hour === 24) { hour = 0 }
                    }
                }
                
                //if the hour, minute, and seconds all roll over, then subtract 1 from day
                if(hour === 23 && minute === 59 && second === 59){
                    day -= 1;
                }

                //set the clock to display properly
                span.textContent = ("0" + day).slice(-2) + ":" + ("0" + hour).slice(-2) + ":" +
                    ("0" + minute).slice(-2) + ":" + ("0" + second).slice(-2);
            }
            //call the function at the end to ensure that it actually runs, we use a set interval so it updates every second
            setInterval(getTimeLeft, 1000);
        </script>


    </div>
</body>
</html>