<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | UWM Smash Club Website</title>
    <link rel="stylesheet" href=/static/home.css>
</head>
<body>
    <div class="page-bar">
        <div class="user-pages">
            <!-- the href for each button is the path -->
            <button>Home</button>
            <a href="bracket-archive/"><button>Bracket Archive</button></a>
            <a href="power-rankings/"><button>Power Rankings</button></a>
            <a href="player-stats/"><button>Player Stats</button></a>
            <a href="seeding-tool/"><button>Seeding Tool</button></a>
            <a href="about/"><button>About</button></a>
        </div>
        <div class="login-button">
            <a href="login/"><button>Login</button></a>
        </div>
    </div>
</body>
</html>